@font-face{
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: YesevaOne;
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-weight: 500;
}