@page "/"

<div class="d-flex flex-column justify-content-between h-100">
	<h1 class="title">Русская Карута</h1>

	<div class="mx-auto d-flex flex-column gap-3">
		<NavLink class="btn btn-light btn-lg" href="game">Начать игру</NavLink>
		<NavLink class="btn btn-light btn-lg" href="rules">Как играть?</NavLink>
		<NavLink class="btn btn-light btn-lg" href="info">Информация</NavLink>
	</div>

	<div class="text-end">
		Версия: @VersionTracking.CurrentVersion
	</div>
</div>

