@page "/info"

<NavLink class="btn btn-light btn-lg mb-3" href="/">Назад</NavLink>

<h2>Авторы приложения:</h2>
<p>
	<b>Разработчик:</b> <a href="https://github.com/Scull56">Иноземцев Даниил (Scull56)</a>
</p>
<p>
	<b>Дизайнер карточек:</b> <a href="http://www.freepik.com">Macrovector / Freepik</a>
</p>
<p>
	<b>Дизайнеры шрифта Yeseva:</b> <a href="https://fonts.google.com/?query=Jovanny+Lemonad">Jovanny Lemonad</a>
</p>
<p>
	<b>Дизайнеры шрифта Roboto:</b> <a href="https://fonts.google.com/?query=Christian+Robertson">Christian Robertson</a>
</p>