@page "/rules"

<NavLink class="btn btn-light btn-lg mb-3" href="/">Назад</NavLink>

<h3>Шаг 0: Подготовка</h3>
<p>Для игры нужна обычная колода игральных карт в покер на 54 карты. Уберите из неё карты "Джокер"</p>
<p>Двое игроков должны сесть друг на против друга (желательно на полу со скользящим покрытием).</p>
<p>Перемешайте и распределите карты между игроками поровну, у каждого должно быть по 26 карт.</p>

<h3>Шаг 1: Разложить карты на поле</h3>
<p>Разложите карты так, что бы опоненты могли дотянуться до карт противника. Общая высота игрового поля участника должно быть не более чем 3 карты стоящие друг над другом в вертикальном положении. </p>
<p>Ниже на рисунке изображена типовая раскладка для игры в классическую каруту, которую нужно брать за основу.</p>
<p>
	<img height="350" src="images/positions.png" />
</p>

<h3>Шаг 2: Нажмите в приложении "Начать игру" на главном меню, а затем "Старт"</h3>
<p>После этого запустится таймер, отсчитывающий время для запоминания позиций карт на поле.</p>

<h3>Шаг 3: Игра</h3>
<p>После истечения времени на запоминание, игроки должны приготовиться к игре. Руки не должны находиться над картами, пока не начнётся озвучивание карты.</p>
<p>Таймер на 5 секунд будет отсчитывать время до начала озвучивания карты, игроки должны на слух быстрее соперника определить какая карта озвучивается на данный момент и первым докоснуться до неё, выбить с поля или закрыть ладонью. 
	При этом разрешается задеть или дотронуться до ближайших карт. Выбивание карты на протяжении всей игры осуществляется только одной рукой, которая не меняется в течении игры.</p>
<p>Если игроку удалось забрать правильную карту со своего поля, то он просто кладёт её рядом с собой. Эта карта больше не участвует в игре.</p>
<p>Если эта карта оказалась на стороне противника, то эту карту так же убирают с поля, но игрок, который выбил её, отдаёт противнику из своей раскладки любую карту. Противник же может разместить эту карту в любом месте своей раскладки</p>
<p>Если игрок ошибся и дотронулся до неправильной карты, то зачитанная карта так же убирается с поля и если она была на строноне ошибившегося игрока, то противник отдаёт карту со своей раскладки. </p>
<p>В конечном счете, игрок стремится первым избавиться от карт из своей раскладки. Если игрок побеждает в конкреном раунде, то у него убавляются карты, в противном случае - прибавляются. </p>

<h4>Шаг 4: Перестановки</h4>
<p>Игрок может менять расстановку своих карт после того, как была выбирата карта, и до того, как запустили таймер для зачитывания новой.</p>