@page "/rules"

<NavLink class="btn btn-light btn-lg mb-3" href="/">Назад</NavLink>

<h3>Шаг 0: Подготовка</h3>
<p>Для игры нужна обычная колода игральных карт в покер на 54 карты. Уберите из неё карты "Джокер".</p>
<p>Двое игроков должны сесть друг на против друга (желательно на полу со скользящим покрытием).</p>
<p>Перемешайте и распределите карты между игроками поровну, у каждого должно быть по 26 карт.</p>

<h3>Шаг 1: Разложить карты на поле</h3>
<p>Разложите карты так, что бы опоненты могли дотянуться до карт противника. Общая высота игрового поля участника должно быть не более чем 3 карты стоящие друг над другом в вертикальном положении. </p>
<p>Ниже на рисунке изображена типовая раскладка для игры в классическую каруту, которую нужно брать за основу.</p>
<p>
	<img height="350" src="images/positions.png" />
</p>

<h3>Шаг 2: Нажмите в приложении "Начать игру" на главном меню, а затем "Старт"</h3>
<p>После этого запустится таймер, отсчитывающий время для запоминания позиций карт на поле.</p>

<h3>Шаг 3: Игра</h3>
<p>После истечения времени на запоминание, игроки должны приготовиться к игре. Руки должны находиться за пределами игрового поля, пока не начнётся озвучивание карты.</p>
<p>Таймер на 5 секунд будет отсчитывать время до начала озвучивания карты, игроки должны на слух быстрее соперника определить какая карта озвучивается на данный момент и первым коснуться, выбить с поля или закрыть её ладонью. 
	При этом разрешается задеть или дотронуться до карт, находящиейся на той же стороне, что и зачитываемая карта.</p>
<p>Выбивание карты на протяжении всей игры осуществляется только одной рукой, которая не меняется в течении игры.</p>
<p>Вне зависимости от исхода розыгрыша карты, зачитываемая карта отправляется в сброс.</p>
<p>Если правильную карту игрок выбил с поля противника, то он должен дать противнику одну карту из своей раскладки в качестве замены выбитой.</p>
<p>Если игрок косается карты поля, на котором не было зачитываемой карты, то он получается одну карту от противника в качестве штрафа за ошибку.</p>
<p>Передача штрафной карты отсутствует если оба игрока ошиблись и коснулись неправильных карт, не задев правильной.</p>
<p>В конечном счете, игрок стремится первым избавиться от карт из своей раскладки. Если игрок побеждает в конкреном раунде, то у него убавляются карты, в противном случае - прибавляются. </p>
<p>Игрок, которому передают карты сам определяет куда их расположить в своей раскладке.</p>
<p>Если возникает спорная ситуация и не понятно кто первее выбил карту, можно попытаться оспорить её, доказывая, что это вы были первым. 
	Если никому не удаётся оспорить карту, то победа засчитывается тому, чьё поле было противоположным полю зачитваемой карты.</p>

<h4>Шаг 4: Перестановки</h4>
<p>Игрок может менять расстановку своих карт после того, как была выбирата карта, и до того, как запустили таймер для зачитывания новой.</p>
<p>После того, как все карты вернут на свои позиции, можно продолжать игру.</p>